*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins' sans-serif;
}
html{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    display: none;
}
body{
    height: 100vh;
   width: 100%;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/*main*/
.main{
    padding: 2rem 8%;
    height: 100vh;
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(./img/home-bg-3.jpg);

}
.container{
    padding-top: 150px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20rem;
}

.slider-text{
    flex: 1 1 20rem;
    padding: 2rem;
  
}
.site{
    font-weight: lighter;
    font-size: 1.5rem;
    letter-spacing: .5rem;
}
.slider-text h1{
    font-size: 4rem;
    text-transform: capitalize;
}
.slider-text p{
    line-height: 1.5rem;
    margin: 1rem 0;
   font-weight: 600;
   color: rgb(165, 164, 164);
}
.button-container{
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
   
}
.left{
    padding: .5rem 1rem;
    border: 1px solid rgb(218, 217, 217);
    text-transform: capitalize;
    border-radius: 1rem;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    width: 40%;
    color:white;
    background: black;
}

.slider-img{
    flex: 1 1 25rem;
    width: 100%;
    height: 100%;
     
}
.slider{
    position: relative;
   height: 100px;
    width: 180px;
    transform-style: preserve-3d;
    animation: row 30s linear infinite;
}
@keyframes row {
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}
.slider span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);
}
.slider span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 2s;
   
}

.container-icons ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 3rem;
    padding-left: 1.3rem;
}

@media screen and (max-width:990px) {
    .slider-img{
       display: none;
     
         
    }
}
@media screen and (max-width:470px) {
    .main{
        padding: 0;
       height:90vh;
        padding-top:4.5rem;

      
    }
    .container{
        gap: 0;
        padding-top: 0;
        margin-top: 0;
       
    }
    .slider-text h1{
        font-size: 2rem;
       
    }
    .slider-text{
        padding: 2rem;
      
    }
    
}



/*sect 2*/

.sect2{
    padding: 1rem 20%;
    background: rgb(248, 248, 248); 
    color: black; 
}
.sect2-container{
    display: flex;
    align-items: center;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  
    gap: 1.5rem;
}
.scet2-text{
    flex: 50%;
    text-transform: capitalize;
     font-weight: 600;
    line-height: 2rem;
}
.scet2-text h3, p{
    font-size: 14px;
    font-weight: lighter;
}
.strong{
    font-size: 2rem;
    display: inline-block;
    margin: 5px;
    font-family: cursive;
    font-weight: bolder;
    color: red;
}
.light{
    font-size: 16px;
   font-weight: bold;
    font-family: cursive;
    color: red;
}
.sect2-animation{
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
 
}
.sect2-animation img{
 width: 280px;
 height: 150px;   
 transform-style: preserve-3d;
 animation: move 7s linear infinite;
 
}

@keyframes move {
    0%{
        transform: translateX(80%)
    }
    100%{
        transform: translateX(-150%)
    }
}
.left-mod{
    width: 20%;
    background:white;
    color: black;
}
@media screen and (max-width:769px) {
    .sect2{
        padding: 1.8rem;
       
    }
    .left-mod{
        width: 40%;
      
    }
}
@media screen and (max-width:479px) {
    .sect2{
        padding: 1rem;
       
    }
}


/*product*/
.products{
    padding: 2rem 8%;
    padding-top: 5rem;
    
}
.section-heading{
    margin: 60px 0;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 2rem;
}
.product-container{
      display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  
    gap: 1.5rem;
   
}
.pro{
    border: 1px solid rgb(219, 217, 217);
    box-shadow: 0 3px 5px rgb(165, 164, 164);
    border-radius: 5%;
    position: relative;
  
}

.pro img{
    width: 80%;
    height: 100%;
    object-fit: contain;
    margin: 0 auto;
    transform: rotate(35deg);
}
.pro-text{
    position: absolute;
    right: 0;
    top:10%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-right: 6px;
    width: 42%;
    
}
.pro-text-btn{
    width: 80%;
    margin-left: 45px;
    background: black;
    color: white;
    padding: .3rem .5rem;
    text-transform: capitalize;
    border-radius: 10%;
}
.pro-text ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
   
}
.pro-text ul li{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: red;
    list-style-type: none;
}
.pro-text ul li:nth-child(2){
     background: rgb(22, 21, 21);
    
}
.pro-text ul li:nth-child(3){
     background: blue;
}
.pro:hover{
    transform: scale(1.1);
    transition: 3s;
}
@media screen and (max-width:769px) {
    .product-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(35%, 1fr));
      
        gap: 4rem;
       
    }
}

@media screen and (max-width:479px) {
    .product-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
       
    }
    .product-container{
       gap: 5rem;
       
    }
}



/*about*/
.about{
    padding-top: 8rem;
    padding-bottom: 0;
    background: rgb(248, 248, 248); 
   
    
  }
  
  .about-container{
    padding: 2rem 8%;
   
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
   
  }
  .about-text{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1 1 20rem;
  }
  .about-text h3{
   font-weight: bolder;
   text-transform: uppercase;
   letter-spacing: 1px;
  }
  .about-text p{
    line-height: 1.5rem;
    margin: 1rem 0;
   font-weight: 600;
   color: rgb(165, 164, 164);
  }
  .more{
    font-size: 1.1rem;
    color: black;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
    margin-top: 2rem;
  }
  .about-img img{
    transform-style: preserve-3d;
    animation: jug 3s linear infinite;
   
    
   }
   
   @keyframes jug {
    0%, 100%{
        transform: translateY(0rem);
  }
  
    50%{
        transform: translateY(5rem);
  }
   }
   .left-mod{
       width: 20%;
       background:white;
       color: black;
   }
   @media screen and (max-width:769px) {
    .about-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
        gap: 1rem;
       
    }
    .about-img{
         display: flex;
        align-items: center;
        justify-content: center;
    }
    .about-img img{
      height: 250px;
      width: 350px;
    
       }
  }   
  
  @media screen and (max-width:479px) {
    .about-img img{
      height: 200px;
      width: 300px;
       }
  }   
  
/*review*/  
  .review{
    padding: 2rem 8%;
    
  } 

.review-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 4rem;
    text-align: center;
   
}
.rev-box{
    border: 1px solid rgb(219, 217, 217);
    box-shadow: 0 3px 5px rgb(165, 164, 164);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    gap: .2rem;
}
.rev-box img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    
}
.star{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    list-style-type: none;

}
.name{
   font-weight: bold;
   text-transform: capitalize;
   font-size: 16px;
}
.detail{
   text-transform: capitalize;
}
.rev-details{
    line-height: 1.5rem;
   color: rgb(165, 164, 164);
}

/* footer */
.footer{
     margin-top: 4rem;
     background: rgb(248, 248, 248); 
     border-top: 1px solid rgb(226, 198, 175);
}
.footer-head{
    text-transform: capitalize;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1px;
    color: var(--spanish-gray);
}


.footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
    gap: 1rem;
    margin-top: 10px;
    padding: 2rem 10%;
}

.logo-mod{
    justify-content: start;
    margin-bottom: 20px;
    
}
.logo-mod > p{
    color: var(--primary-10);
}
.footer-desc{
    font-size: var(--fs-8);
    color: var(--sonic-silver);
    line-height: 18px;
}
.footer-box-head{
    font-weight: var(--weight-700);
    margin-bottom: 20px;
    text-transform: capitalize;
    color: var(--spanish-gray);
}
.footer-box li{
    padding: 3px 0;
}
.footer-link{
    width: 100%;
    height: 100%;
    font-size: var(--fs-8);
    color: var(--sonic-silver);
}
.footer-mes{
    font-size: var(--fs-8);
    color: var(--sonic-silver);
    line-height: 18px;
}
.footer-rights{
    border-top: 1px solid var(--sonic-silver);
    margin-top: 1rem;
    padding: 2rem 10%;
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.copy-desc{
    font-size: var(--fs-8);
    color: var(--sonic-silver);
}
.footer-box ul li{
    list-style-type: none;
}
.footer-box ul li a{
    text-decoration: none;
}
.name{
   font-size: 2rem;
    font-weight: bold;
}
.logo-mod{
    text-decoration: none;
    color: black;
   

}    
    /* header */
.header{
    position: relative;
}


/* nav-container */

.nav-container{
    background: rgb(248, 248, 248); 
    border: 5px solid rgb(248, 248, 248);
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: .2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    z-index: 100;

}
.nav-logo{
    width: 100px;
    height: 100px;
    padding-top:.5rem ;
}
.nav-toggle{
   display: none;
}
.nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-item{
    margin-right: 2rem;
    padding-bottom: 1rem;
}
.nav-link{
    text-transform: capitalize;
    font-weight: 500;
    color:var(--color-6);
    font-size: var(--fs-nav);
    letter-spacing: var(--letter-sp-1);
}
/* !------small screen ------ */
@media screen and (max-width:769px) {
    .nav-container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 2rem;
        width: 100%;
         
    }
    .nav-logo{
    width: 50px;
    height: 50px;
    padding-top:.2rem ;
}
    .nav-open .nav-links{
        display: initial;
        color: white;
    }
    .nav-open .hamburger{
        transform: rotate(.625turn) translateX(-1px);
    }
    .nav-open .hamburger::before{
        transform: rotate(90deg) translateX(5px);
    }
    .nav-open .hamburger::after{
        display: none;
    }
    .nav-toggle{
        display: initial;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        border-radius: 50%;
       
    }
    .hamburger{
        display: inline-block;
        width: 20px;
        height: 2px;
        background: black;
        position: relative;
        transition: 1s;
    }
    .hamburger::after,
    .hamburger::before{
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        background: black;
        position: absolute;
        left: 0;
    }
    .hamburger::after{
        top:5px;
    }
    .hamburger::before{
        bottom:5px;
    }
    .nav-links{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: rgb(32, 32, 32);
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 1rem;
        display: none;
    } 
    .nav-item{
        width: 90%;
        margin: 0 auto;
       
    }
    .nav-link{
        display: block;
        padding: .8rem .5rem;
        text-align: right;
        box-shadow: 0 0 1px var(--color-9);
    }
}
/* header-caption */
.header-caption{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
   
}
.header-caption img{
  filter: grayscale(100%);
}
.header-caption p{
    font-size: var(--fs-h1);
    font-weight: 500;
    text-transform: capitalize;
    color: var(--color-2);
    text-align: center;
}
@media screen and (max-width:769px) {
    .header-caption img{
      width: 300px;
      height: 200px;  
    }
}



.name{
    font-weight: bold;
    text-transform: capitalize;
    font-size: 16px;
 }
 @media screen and (max-width:769px) {
    .sect2{
        padding: 1.8rem;
       
    }
    .left-mod{
        width: 40%;
      
    }
}

.shared{
    position: absolute;
     bottom: 10%;
    left: 50%;
    transform: translateX(-50%)
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
    border: 1px solid red;
}
.share a{
   text-decoration: none;
   color: gray;
}
.share-mod{
    padding:0;
}
